<div class="navbar"></div>

<div class="edit-appointment-type">
	<form name="editappointmenttypeform" ng-submit="submitEditAppointmentType()">
		<div class="form-group">
			<label for="type">Type name: </label>
			<span id="appointmenttype">{{data.type}}</span>
<!--			<input type="text" readonly="true" id="appointmenttype" name="appointmenttype" ng-model="data.type" />
-->
		</div>
		<div class="form-group">
			<label for="starttime">Start time:</label>
			<input type="text" id="starttime" name="starttime" ng-model="data.start_time" placeholder="Example: 9:00" />
		</div>
		<div class="form-group">
			<label for="endtime">End time:</label>
			<input type="text" id="endtime" name="endtime" ng-model="data.end_time" placeholder="Example: 15:00" />
		</div>
		<div class="form-group">
			<label for="timeinterval">Appointment length: </label>
			<input type="text" id="endtime" name="time_interval" ng-model="data.time_interval" placeholder="Example: 1.30 or 0.45" />
		</div>
		<div class="form-group">
			<label for="places">Max # of places per appointment: </label>
			<input type="number" id="places" name="places" ng-model="data.places" />
		</div>
		<div class="form-group">
			<input type="submit" class="btn" value="Submit" />
		</div>
	</form>
</div>
